body{
    background-color: black;
    color: white;
}

.main_content_bg{
    background-color: lightsteelblue;
    color: black;
}

/* START ABOUT AREA  */
.about_area{
    background-color: white;
}

.about_area .download_btn{
    background-color: powderblue;
}
.about_area .download_btn{
    color: #222222;
}
.about_area .download_btn:before{
    color: #222222;
}

.about_area .about_details h3{
    color: #222222;
}
.about_area .about_details h3 span{
    color: #26b7e7;
}
.about_area .about_details h4{
    color: #444444;
}
.about_area .about_details h5{
    color: #666666;
}
.about_area .about_details p{
    color: #555555;
}

.about_area .about_details .social_icon li:nth-child(1) a{
    color: #3b5998;
    border-color: #3b5998;
}
.about_area .about_details .social_icon li:nth-child(1):hover a{
    background-color: #3b5998;
}

.about_area .about_details .social_icon li:nth-child(2) a{
    color: #211F1F;
    border-color: #211F1F;
}
.about_area .about_details .social_icon li:nth-child(2):hover a{
    background-color: #211F1F;
}

.about_area .about_details .social_icon li:nth-child(3) a{
    color: #3f729b;
    border-color: #3f729b;
}
.about_area .about_details .social_icon li:nth-child(3):hover a{
    background-color: #3f729b;
}

.about_area .about_details .social_icon li:nth-child(4) a{
    color: #0e76a8;
    border-color: #0e76a8;
}
.about_area .about_details .social_icon li:nth-child(4):hover a{
    background-color: #0e76a8;
}

.about_area .about_details .social_icon li:nth-child(5) a{
    color: #ef8236;
    border-color: #ef8236;
}
.about_area .about_details .social_icon li:nth-child(5):hover a{
    background-color: #ef8236;
}

.about_area .about_details .social_icon li:nth-child(6) a{
    color: #c4302b;
    border-color: #c4302b;
}
.about_area .about_details .social_icon li:nth-child(6):hover a{
    background-color: #c4302b;
}

.about_area .about_details .social_icon li a:hover{
    color: white;
}
/* END ABOUT AREA  */

/* START SKILL AREA */

/* END SKILL AREA */

/* START COMPETITION AREA */
.competition_container{
    background-color: white;
}
.competition_list .single_competition{
    color: #666666;
}

.competition_title h3{
    color: #333333;
}

/* END COMPETITION AREA */

/* START EDUCATION AND CAREER AREA */
.education_area .education_inner_area:before, .career_area .career_inner_area:before{
    background-color: #70c2e9;
}

.education_area .education_inner_area .education_item, .career_area .career_inner_area .career_item{
    background-color: white;
}

.education_area .education_inner_area .education_item:before, .career_area .career_inner_area .career_item:before{
    color: white;
    border-color: #70c2e9;
    background: #26b7e7;
}

.education_area .education_inner_area .education_item:after, .career_area .career_inner_area .career_item:after{
  background: #70c2e9;
}

.education_area .education_inner_area .education_item h6, .career_area .career_inner_area .career_item h6{
    color: #26b7e7;
}
.education_area .education_inner_area .education_item h5, .career_area .career_inner_area .career_item h5{
    color: #333333;
}
.education_area .education_inner_area .education_item h4, .career_area .career_inner_area .career_item h4{
    color: #333333;
}
.education_area .education_inner_area .education_item p, .career_area .career_inner_area .career_item p{
    color: #666666;
}
/* END EDUCATION AND CAREER AREA */

/* START PORTFOLIO AREA */

/* END PORTFOLIO AREA */

/* START CONTACT AREA */
.left_contact_details .media .media-left i{
    background: #26b7e7;
    color: white;
    border-color: #70c2e9;
}

.left_contact_details .media:hover .media-left i{
    background: transparent;
    color: #26b7e7;
}
.left_contact_details .media .media-body h4{
    color: #333333;
}

.left_contact_details .media .media-body p{
  color: #666666;
}
    /* END CONTACT AREA */